.header-section {
    display: flex;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.10);
}


.header-section-left {
   padding: 25px 120px 25px 120px;
}

.header-section-right {
    padding: 25px 120px 25px 120px;
}

.header-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-weight: 700;
    /* width: 500px; */
}

.btn-primary {
    border-radius: 8px;
    border: none;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 25px;
    margin-top: 15px;
}


img {
    width: 350px;
    height: 500px;
    flex-shrink: 0;
    margin-bottom: 0px;
}